@model IEnumerable<ContosoUniversity.Models.SchoolViewModels.EnrollmentDateGroup>

@{
    ViewData["Title"] = "Student Body Statistics";
}

<h1>About Core University</h1>

<p>Core University is a prestigious institution renowned for excellence in education, research, and innovation. With a diverse range of programs and a vibrant student community, we're dedicated to providing an enriching academic experience.</p>

<p>Contact Information:</p>
<p>Name: Kelly Clark</p>
<p>Location: Spanish Fork, Utah</p>
<p>Email: mrs.kellyannclark@gmail.com</p>


<table>
    <tr>
        <th>
            Enrollment Date
        </th>
        <th>
            Students
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @item.StudentCount
            </td>
        </tr>
    }
</table>