@{
    ViewData["Title"] = "Welcome to Core University";
}

<div class="content-highlight">
    <div class="jumbotron">
        <h1 class="welcome-message">Welcome to Core University</h1>
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>About Core University</h2>
        <p>
            Core University is a prestigious institution renowned for excellence in education, research, and innovation. With a diverse range of programs and a vibrant student community, we're dedicated to providing an enriching academic experience.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Our Programs</h2>
        <p>Explore our comprehensive academic programs designed to empower students with the knowledge and skills for a successful future.</p>

    </div>
    <div class="col-md-4">
        <h2>Join Our Community</h2>
        <p>Become a part of Core University's dynamic and inclusive community. Learn more about admissions, scholarships, and campus life.</p>

    </div>
</div>

<div class="footer">
    <p>Note: This is a fictional website and part of a demonstration. Information regarding Core University and its programs is purely illustrative.</p>
</div>
